<a href="https://colab.research.google.com/github/MayarQasrawi/python-fundamentals-examples/blob/main/built_in_operation_for_list_tuple_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Program that uses built in operator with dictionary, list and tuple

# List

In [111]:
my_list=['a',1,4,"mayar"]
my_list.append(5)
my_list

['a', 1, 4, 'mayar', 5]

In [112]:
my_list.pop()

5

In [113]:
my_list.insert(0,22)
my_list

[22, 'a', 1, 4, 'mayar']

In [114]:
my_list.reverse()
my_list

['mayar', 4, 1, 'a', 22]

In [115]:
my_list.remove('mayar')
my_list

[4, 1, 'a', 22]

In [116]:
del my_list
my_list

NameError: name 'my_list' is not defined

# Tuple

In [83]:
my_tuple = (1, 2, 3, 4, 5)
single_tuple = (1,)  # single element tuple must have a comma

print("Tuple:", my_tuple)
print("Single element tuple:", single_tuple)

print("First element:", my_tuple[0])
print("Count of 1 in tuple:", my_tuple.count(1))
print("Index of 1 in tuple:", my_tuple.index(1))
print("Length of tuple:", len(my_tuple))
print("Maximum value in tuple:", max(my_tuple))
print("Minimum value in tuple:", min(my_tuple))
print("Sum of all elements:", sum(my_tuple))

print("\nIterating through the tuple:")
for item in my_tuple:
    print(item, end=" ") #prints the item without a newline, and adds a space after it instead.

Tuple: (1, 2, 3, 4, 5)
Single element tuple: (1,)
First element: 1
Count of 1 in tuple: 1
Index of 1 in tuple: 0
Length of tuple: 5
Maximum value in tuple: 5
Minimum value in tuple: 1
Sum of all elements: 15

Iterating through the tuple:
1
2
3
4
5

In [84]:
t1 = (1, 2, 3)
t2 = (4, 5)

print(t1 + t2)   # Concatenation
print(t1 * 2)    # Repetition
print(2 in t1)   # Membership

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
True

# Dictionay

In [104]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

print("Dictionary:", my_dict)
print("Keys:", my_dict.keys())
print("Values:", my_dict.values())
print("Items:", my_dict.items())

print("\nAccessing values:")
print("Value of 'a':", my_dict['a'])
print("Value of 'b':", my_dict.get('b'))

print("\nUpdating dictionary:")
my_dict['d'] = 4
print("Updated dictionary:", my_dict)

Dictionary: {'a': 1, 'b': 2, 'c': 3}
Keys: dict_keys(['a', 'b', 'c'])
Values: dict_values([1, 2, 3])
Items: dict_items([('a', 1), ('b', 2), ('c', 3)])

Accessing values:
Value of 'a': 1
Value of 'b': 2

Updating dictionary:
Updated dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [105]:
my_dict.pop('b')          # removes key 'b'
print("remove key b", my_dict)
my_dict.popitem()          # removes last inserted item
print("remove last item",my_dict)
del my_dict['c']          # delete specific key
print("delete specific key c",my_dict)
my_dict.clear()           # remove all items
print("remove all items",my_dict)
del my_dict               # delete dictionary

remove key b {'a': 1, 'c': 3, 'd': 4}
remove last item {'a': 1, 'c': 3}
delete specific key c {'a': 1}
remove all items {}