<a href="https://colab.research.google.com/github/MayarQasrawi/python-fundamentals-examples/blob/main/List_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Program to Merge Two Lists and inverse the merged list

In [17]:
def merge_two_list1(list1,list2):
  return list1+list2

def merge_two_list2(list1,list2):
    result = list1.copy()
    result.extend(list2)
    return result

def merge_two_list3(list1,list2):
  for x in list2:
   list1.append(x)
  return list1

list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
print(merge_two_list1(list1,list2))
print(merge_two_list2(list1,list2))
print(merge_two_list3(list1,list2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
def inverse_list(li):
  return li[::-1]

li=[1,2,3,4,5]
print(inverse_list(li))

[5, 4, 3, 2, 1]

In [19]:
def merge_two_list_inverse(list1,list2):
  return inverse_list(merge_two_list1(list1,list2))

merge_two_list_inverse(list1,list2)

[10, 9, 8, 7, 6, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Python Program to Remove Duplicate Element From a List

In [20]:

def list_remove_duplicate(li):
  """Remove duplicates using set() - fastest but order not preserved"""
  return list(set(li))

li=[1,2,3,4,5,1,2,3,4,5]
print(list_remove_duplicate(li))

[1, 2, 3, 4, 5]

In [21]:
def remove_duplicates_loop(lst):
    """Remove duplicates using a simple loop - preserves order"""
    result = []
    for item in lst:
        if item not in result:
            result.append(item)
    return result

print(remove_duplicates_loop(li))

[1, 2, 3, 4, 5]

# Python Program to Differentiate Between del, remove, and pop on a List

# `pop()`

 > Delete by index AND return the value

 * Returns the removed element
* `list.pop(2)` removes index `2` and returns its value
* `list.pop()` removes last element and returns it

In [28]:
my_list= [10,20,30,40,50]
print(my_list.pop())

50

# `remove()`


*  `remove(20)` looks for the value `2`0 in the list
If 20 doesn't exist, Python raises `ValueError.
*   No return value
* list.remove(20) removes first occurrence of 20

In [29]:
if 20 in my_list:
    my_list.remove(20)
    print(my_list)
else:
    print("20 not found in list")

[10, 30, 40]

# `del`

* No return value
* `del list[2]` removes element at index 2
* Index/Slice

# Python Program to Convert Two Lists Into a Dictionary

In [33]:
def convert_two_list_to_dict(keys,values):
  return dict(zip(keys,values))


keys = ["name", "age", "country"]
values = ["Mayar", 21, "Palestine"]

print( convert_two_list_to_dict(keys,values))

print("-"*30)
print("Method 2: Using dictionary comprehension")
dictionary2 = {k: v for k, v in zip(keys, values)}
print(dictionary2)

{'name': 'Mayar', 'age': 21, 'country': 'Palestine'}
------------------------------
Method 2: Using dictionary comprehension
{'name': 'Mayar', 'age': 21, 'country': 'Palestine'}

# Python Program to Make a Flattened List from Nested List

In [38]:
def flatten_list(nested_list):
    flat_list=[]

    for sub in nested_list:
        if type(sub) is list:
            for item in sub:
                flat_list.append(item)
        else:
            flat_list.append(sub)
    return flat_list


nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print("nested list: "+str(nested_list))
print("flatten list: "+str(flatten_list(nested_list)))

nested list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Python Program that calculates the difference in memory address in list

In [41]:
nums = [10, 20, 30, 40, 50,"Mayar",5.5,True]

for i in range(len(nums) - 1):
    addr1 = id(nums[i])
    addr2 = id(nums[i + 1])
    diff = addr2 - addr1
    print(f"Element {nums[i]} at {addr1}, Element {nums[i+1]} at {addr2}, Difference = {diff}")

Element 10 at 10758024, Element 20 at 10758344, Difference = 320
Element 20 at 10758344, Element 30 at 10758664, Difference = 320
Element 30 at 10758664, Element 40 at 10758984, Difference = 320
Element 40 at 10758984, Element 50 at 10759304, Difference = 320
Element 50 at 10759304, Element Mayar at 139768883390192, Difference = 139768872630888
Element Mayar at 139768883390192, Element 5.5 at 139768485432592, Difference = -397957600
Element 5.5 at 139768485432592, Element True at 9696896, Difference = -139768475735696